<!DOCTYPE html>
<html>
<head>
    <title>Spam Email Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📩 Spam Email Classifier</h1>

    <form action="/predict" method="post">
        <textarea name="message" placeholder="Enter your email message here..." required></textarea>
        <br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}
</div>

</body>
</html>